$list-item-color: rgb(63, 81, 181);
$quote-background-color: rgba(0, 0, 0, 0.09);
$quote-highlight-color: #26a69a;
$quote-text-color: #455a64;
$template-item-color: #1a237e;
$template-item-highlight-color: #880e4f;
$general-highlight-color: #0d47a1;
$template-highlight-color: #0d47a1;
$superblock-highlight-color: #33691e;

.plain-text {
  white-space: pre-wrap;
}

.rich-text {
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;

  table {
    width: 100%;
    border: solid 1px #ccc;

    thead {
      th {
        background-color: #ccc;
      }
    }

    td {
      border: solid 1px #ccc;
      padding: "0.5rem";
    }
  }

  a,
  .link {
    color: $general-highlight-color;
    cursor: pointer;
  }

  a.inactive,
  .link.inactive {
    cursor: auto;

    &:hover {
      text-decoration: underline;
    }
  }

  .template {
    &.selected {
      box-shadow: 0 0 0 1px $template-highlight-color;
    }

    &:hover {
      box-shadow: 0 0 0 1px $template-item-color;

      &.selected {
        box-shadow: 0 0 0 1px $template-item-highlight-color;
      }
    }
  }

  .container,
  .custom {
    position: relative;
  }

  .ql-editor {
    overflow: hidden;
  }

  p,
  li,
  blockquote,
  strong {
    text-align: justify;
  }

  p:empty::before,
  h1:empty::before,
  h2:empty::before,
  h3:empty::before,
  h4:empty::before,
  h5:empty::before,
  h6:empty::before {
    content: '\00a0';
  }

  ul {
    list-style: none;

    li {
      html[dir="rtl"] & {
        padding-right: 0;
      }

      html[dir="ltr"] & {
        padding-left: 0;
      }
    }

    li::before {
      content: "\2022";
      color: $list-item-color;
      display: inline-block;
      width: 1rem;
      position: absolute;

      html[dir="rtl"] & {
        margin-right: 1rem;
        margin-left: 0.5rem;
      }

      html[dir="ltr"] & {
        margin-left: 1rem;
        margin-right: 0.5rem;
      }
    }

    li>* {
      html[dir="rtl"] & {
        padding-right: 2.5rem;
      }

      html[dir="ltr"] & {
        padding-left: 2.5rem;
      }
    }

    li>ul>li::before {
      content: "\25AA";
    }

    li>ul>li>ul>li::before {
      content: "\2023";
    }
  }

  ol {
    list-style: none;
    counter-reset: item-count;

    li {
      html[dir="rtl"] & {
        padding-right: 0;
      }

      html[dir="ltr"] & {
        padding-left: 0;
      }
    }

    li {
      counter-increment: item-count;
    }

    li::before {
      content: "." counter(item-count);
      color: $list-item-color;
      display: inline-block;
      width: 2em;
      position: absolute;

      html[dir="rtl"] & {
        margin-left: 0.5rem;
        text-align: left;
        direction: ltr;
      }

      html[dir="ltr"] & {
        margin-right: 0.5rem;
        text-align: right;
        direction: rtl;
      }
    }

    li>* {
      html[dir="rtl"] & {
        padding-right: 2.5rem;
      }

      html[dir="ltr"] & {
        padding-left: 2.5rem;
      }
    }
  }

  blockquote {
    font-size: 1rem;
    margin: 1rem auto;
    font-style: italic;
    color: $quote-text-color;
    line-height: 1.6;
    position: relative;
    background: $quote-background-color;

    html[dir="rtl"] & {
      padding: 1.2rem 50px 1.2rem 30px;
      border-right: 8px solid $quote-highlight-color;
    }

    html[dir="ltr"] & {
      padding: 1.2rem 30px 1.2rem 50px;
      border-left: 8px solid $quote-highlight-color;
    }
  }

  blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: $quote-highlight-color;
    font-size: 4rem;
    position: absolute;
    top: -10px;

    html[dir="rtl"] & {
      right: 10px;
    }

    html[dir="ltr"] & {
      left: 10px;
    }
  }

  blockquote::after {
    content: '';
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;

    html[dir="rtl"] & {
      text-align: right;
    }

    html[dir="ltr"] & {
      text-align: left;
    }
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  .image {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .image-container {
      position: relative;
      width: 100%;
      max-width: 700px;

      .image-pad {
        position: relative;
        width: 100%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }

    &.selected {
      img {
        box-shadow: 0 0 5px $general-highlight-color, 0 0 5px $general-highlight-color, 0 0 5px $general-highlight-color;
      }
    }
  }

  img.selected {
    box-shadow: 0 0 5px $general-highlight-color, 0 0 5px $general-highlight-color, 0 0 5px $general-highlight-color;
  }

  .video {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .video-container {
      width: 100%;
      max-width: 700px;
      padding-bottom: 56.25%;
      height: 0;
      position: relative;
      background-color: #ccc;

      &::before {
        content: " ";
        display: block;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
        opacity: 0.5;
        background-size: contain;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMzMsNDQwYTM1LjM3LDM1LjM3LDAsMCwxLTE3LjUtNC42N2MtMTItNi44LTE5LjQ2LTIwLTE5LjQ2LTM0LjMzVjExMWMwLTE0LjM3LDcuNDYtMjcuNTMsMTkuNDYtMzQuMzNhMzUuMTMsMzUuMTMsMCwwLDEsMzUuNzcuNDVMMzk5LjEyLDIyNS40OGEzNiwzNiwwLDAsMSwwLDYxTDE1MS4yMyw0MzQuODhBMzUuNSwzNS41LDAsMCwxLDEzMyw0NDBaIi8+PC9zdmc+Cg==");
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.selected {
      .video-container {
        box-shadow: 0 0 5px $general-highlight-color, 0 0 5px $general-highlight-color, 0 0 5px $general-highlight-color;
      }
    }

    &.inactive {
      .video-container::after {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }

  .container.selected {
    box-shadow: inset 0 0 5px $superblock-highlight-color;
  }

  .container:has(.selected) {
    box-shadow: inset 0 0 3px $superblock-highlight-color;
  }
}

.file {
  width: 100px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  font-size: 85px;

  span[contenteditable] {
    width: 100%;
    position: relative;
    height: 100%;
  }

  .file-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .thumbnail {
      width: 100%;
      height: 75px;
      display: block;
      object-fit: contain;
      border-radius: 3px;
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, .3)) drop-shadow(0px 0px 10px rgba(0, 0, 0, .3));
    }

    .file-icon {
      width: 50px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath fill='rgba(0,0,0,0.8)' d='M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z'%3E%3C/path%3E%3C/svg%3E");
      height: 75px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      display: block;

      .file-extension {
        display: block;
        width: 100%;
        font-size: 1rem;
        text-align: right;
        position: absolute;
        bottom: 0;
        font-weight: 900;
        background-color: white;
        border: solid 1px #ccc;
        padding: 0 2px;
        white-space: nowrap;
        border-radius: 0 0 2px 2px;
      }
    }

    .file-name {
      display: block;
      width: 100%;
      text-align: center;
      overflow: hidden;
      padding-top: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1rem;
    }

    .file-size {
      display: block;
      width: 100%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.7rem;
    }
  }

  &.rejected {
    .file-container {
      .thumbnail {
        filter: drop-shadow(0px 0px 1px #e57373) drop-shadow(0px 0px 10px #e57373);
      }

      .file-size,
      .file-name,
      .file-icon .file-extension {
        color: #e57373;
      }
    }

    &:hover {
      .file-container {
        .thumbnail {
          filter: drop-shadow(0px 0px 1px #f44336) drop-shadow(0px 0px 10px #f44336);
        }

        .file-size,
        .file-name,
        .file-icon .file-extension {
          color: #f44336;
        }
      }
    }
  }

  &.selected,
  &:focus {
    .file-container {

      .thumbnail,
      .file-icon {
        filter: drop-shadow(0px 0px 1px $general-highlight-color) drop-shadow(0px 0px 10px $general-highlight-color);
      }
    }
  }
}