$item-entry-wizard-color-error: #f44336;
$item-entry-wizard-color-warning: #f9a825;

.item-entry-container {
  padding: 15px;
}

.item-entry-title {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.item-entry-wizard-title {
  font-size: 1.2rem;
  padding: 15px 15px 0 15px;
}

.item-entry-expansion-panel-details {
  display: block;
}

.item-entry-wizard-icon {
  &.item-entry-wizard-icon--failed {
    color: $item-entry-wizard-color-error;
    font-size: 26px;
  }
  &.item-entry-wizard-icon--warning {
    color: $item-entry-wizard-color-warning;
  }
}