$item-entry-wizard-color-error: #f44336;
$item-entry-wizard-color-warning: #f9a825;

.item-entry-container {
  padding: 15px;
}

.item-entry-title {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.item-entry-wizard-title {
  font-size: 1.2rem;
  padding: 15px 15px 0 15px;
}

.item-entry-expansion-panel-details {
  display: block;
}

.item-entry-wizard-icon {
  &.item-entry-wizard-icon--failed {
    color: $item-entry-wizard-color-error;
  }
  &.item-entry-wizard-icon--warning {
    color: $item-entry-wizard-color-warning;
  }
}

.item-entry-dialog {
  &.item-entry-dialog-wizard {
    width: 1000px;
    max-width: 1000px;

    .item-entry-dialog-content {
      padding-bottom: 0;
    }
  }

  .item-entry-dialog-appbar {
    position: relative;
  }

  .item-entry-dialog-title {
    flex: 1;
  }

  .item-entry-dialog-actions {
    display: flex;
    border-top: solid 1px #ccc;
    padding-top: 10px;

    .item-entry-button-prev {
      margin-right: auto;
    }
  }
}