.property-entry--field {
  &.property-entry--invalid.property-entry--user-set {
    .property-entry--input::before {
      border-bottom-color: #e57373;
    }
    .property-entry--input::after,
    .property-entry--input:hover:not(.disabled)::before {
      border-bottom-color: #f44336;
    }
    .property-entry--label {
      color: #e57373;
    }
    .property-entry--label.focused {
      color: #f44336;
    }
  }
  &.property-entry--hidden {
    opacity: 0.35
  }
}

.property-entry--field--autocomplete-container {
  position: relative;
  display: block;
  width: 100%;

  .property-entry--field--autocomplete-suggestions-container {
    position: absolute;
    display: block;
    width: 100%;
  }
}